
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<partial name="HeadPartial.cshtml" />

<body>

    <partial name="PreLoaderPartial.cshtml" />

    <div id="main-wrapper">


        <partial name="NavHeaderPartial.cshtml" />

        <partial name="HeaderPartial.cshtml" />

        <partial name="SidebarPartial.cshtml" />

        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>

        <partial name="FooterPartial.cshtml" />
      
    </div>
    <partial name="ScriptPartial.cshtml" />

</body>

</html>
